.panel-title {
  display: flex;
  justify-content: space-between;
  padding-right: 30px;
  align-items: center;
}
.panel-title #btn-new-geofence {
  font-size: 2rem;
  cursor: pointer;
}
.panel-title #btn-new-geofence.disabled {
  pointer-events: none;
  color: rgba(0, 0, 0, 0.3);
}
.panel-title #btn-new-geofence:hover {
  color: rgba(0, 0, 0, 0.7);
}
.content {
  display: flex;
  flex-direction: row !important;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}
.content .panel-message {
  position: absolute;
  left: 0;
  width: 100%;
  height: 32px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.5);
  transition: ease top 0.2s;
}
.content .panel-message.hidden {
  top: -35px !important;
}
.content .panel-message.success {
  top: 0 !important;
  background-color: lightgreen;
}
.content .panel-message.error {
  top: 0 !important;
  background-color: lightcoral;
}
.content .panel-message.running {
  top: 0 !important;
  background-color: lightskyblue;
}
.content form {
  min-width: 300px;
  flex-grow: 1;
  padding: 5px;
  display: flex;
  flex-direction: column;
}
.content form .btn-area {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}
.content form .btn-area button {
  margin-top: auto !important;
}
.content .geofences-list {
  flex-grow: 2;
  padding: 5px;
  display: flex;
  flex-direction: column;
}
.content .geofences-list .search-container {
  display: flex;
  align-items: center;
}
.content .geofences-list .search-container .input-box-container {
  flex-grow: 1;
}
.content .geofences-list .search-container .btn-refresh-geofence-list {
  margin-bottom: 5px;
  margin-left: 10px;
  font-size: 22px;
  cursor: pointer;
  transition: color ease 0.3s;
}
.content .geofences-list .search-container .btn-refresh-geofence-list:hover {
  color: rgba(0, 0, 0, 0.7);
}
.content .geofences-list .search-container .btn-refresh-geofence-list.disabled {
  pointer-events: none;
  color: rgba(0, 0, 0, 0.3);
}
.content .geofences-list .geofences-list-content {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
}
.content .geofences-list .geofences-list-content .tbl.disabled {
  pointer-events: none;
}
.content .geofences-list .geofences-list-content .tbl.disabled .thead {
  color: rgba(0, 0, 0, 0.3);
}
.content .geofences-list .geofences-list-content .tbl {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.content .geofences-list .geofences-list-content .tbl .thead,
.content .geofences-list .geofences-list-content .tbl .tbody,
.content .geofences-list .geofences-list-content .tbl .wrapper {
  display: flex;
  flex-direction: column;
}
.content .geofences-list .geofences-list-content .tbl .tbody {
  position: relative;
  flex-grow: 1;
}
.content .geofences-list .geofences-list-content .tbl .tbody .loader.hidden {
  display: none;
}
.content .geofences-list .geofences-list-content .tbl .tbody .loader {
  position: absolute;
  max-width: 100%;
  min-width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.content .geofences-list .geofences-list-content .tbl .tbody .loader .loader-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #fff;
}
.content .geofences-list .geofences-list-content .tbl .tbody .wrapper {
  position: absolute;
  max-width: 100%;
  min-width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow-y: scroll;
}
.content .geofences-list .geofences-list-content .tbl .tbody .wrapper .tcol {
  padding: 7px 5px;
}
.content .geofences-list .geofences-list-content .tbl .tbody .wrapper .trow:hover {
  background-color: rgba(0, 0, 0, 0.03);
}
.content .geofences-list .geofences-list-content .tbl .tbody .wrapper .trow.editing {
  background-color: lightblue !important;
}
.content .geofences-list .geofences-list-content .tbl .tbody .wrapper .trow.current {
  pointer-events: none;
  color: rgba(0, 0, 0, 0.3);
}
.content .geofences-list .geofences-list-content .tbl .tbody .wrapper .trow.inactive {
  background-color: rgba(255, 0, 0, 0.05);
}
.content .geofences-list .geofences-list-content .tbl .thead {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 18px;
  font-weight: 600;
  font-family: 'Ubuntu', sans-serif;
}
.content .geofences-list .geofences-list-content .tbl .thean {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 18px;
  padding-left: 15px;
  font-weight: 400;
  font-family: 'Ubuntu', sans-serif;
  position: relative;
}
.content .geofences-list .geofences-list-content .tbl .thean .counter {
  margin-left: 15px;
  font-size: inherit;
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
  color: darkred;
  margin: 0;
}
.content .geofences-list .geofences-list-content .tbl .trow {
  display: flex;
  transition: background-color ease 0.2s;
  align-items: center;
  font-size: 14px;
}
.content .geofences-list .geofences-list-content .tbl .trow .tcol {
  text-align: left;
  padding: 5px;
}
.content .geofences-list .geofences-list-content .tbl .trow .tcol.hidden {
  display: none;
}
.content .geofences-list .geofences-list-content .tbl .trow .tcol.name {
  min-width: 150px;
  max-width: 150px;
}
.content .geofences-list .geofences-list-content .tbl .trow .tcol.description {
  flex-grow: 1;
}
.content .geofences-list .geofences-list-content .tbl .trow .tcol.type {
  min-width: 100px;
  max-width: 100px;
}
.content .geofences-list .geofences-list-content .tbl .trow .tcol.action {
  min-width: 75px;
  max-width: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content .geofences-list .geofences-list-content .tbl .trow .tcol.action .btn-action {
  cursor: pointer;
}
.content .geofences-list .geofences-list-content .tbl .trow .tcol.action .btn-action:hover {
  color: rgba(0, 0, 0, 0.7);
}
.content .geofences-list .geofences-list-content .tbl .trow.no-records {
  justify-content: center;
}
.sub-panels {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
  display: none;
}
.sub-panels .sub-panels-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.sub-panels .sub-panels-wrapper .sub-panel.sub-panel-asigning.hidden {
  left: -650px;
}
.sub-panels .sub-panels-wrapper .sub-panel.sub-panel-asigning {
  width: 600px;
}
.sub-panels .sub-panels-wrapper .sub-panel {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.7);
  padding: 60px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  transition: left ease 0.3s;
  justify-content: space-between;
}
.sub-panels .sub-panels-wrapper .sub-panel .sub-panel-title {
  text-align: left;
  font-size: 20px;
  font-weight: 700;
  position: relative;
  margin-bottom: 0 !important;
}
.sub-panels .sub-panels-wrapper .sub-panel .sub-panel-subtitle {
  text-align: left;
  font-size: 12px;
  font-weight: 400;
  margin-top: -5px;
  margin-bottom: 25px;
  white-space: nowrap;
  overflow: hidden;
  padding-left: 1px;
}
.sub-panels .sub-panels-wrapper .sub-panel .asigning-main-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.sub-panels .sub-panels-wrapper .sub-panel .asigning-main-container .asigning-actions {
  min-height: 30px;
  max-height: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 18px;
}
.sub-panels .sub-panels-wrapper .sub-panel .asigning-main-container .asigning-actions .asigning-action-btn {
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  width: 28px;
  height: 28px;
  padding: 2px;
  transition: ease 0.3s;
}
.sub-panels .sub-panels-wrapper .sub-panel .asigning-main-container .asigning-actions .asigning-action-btn.disabled {
  pointer-events: none;
  color: rgba(0, 0, 0, 0.5);
}
.sub-panels .sub-panels-wrapper .sub-panel .asigning-main-container .asigning-actions .asigning-action-btn:hover {
  border: 1px solid rgba(0, 0, 0, 0.8);
}
.sub-panels .sub-panels-wrapper .sub-panel .asigning-main-container .asigned {
  flex-grow: 1;
  flex-basis: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.sub-panels .sub-panels-wrapper .sub-panel .asigning-main-container .unasigned {
  flex-grow: 1;
  flex-basis: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.sub-panels .sub-panels-wrapper .sub-panel .asigning-main-container .tcol.hidden {
  display: none;
}
.sub-panels .sub-panels-wrapper .sub-panel .asigning-main-container .tcol.select-handler {
  max-width: 30px;
  min-width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sub-panels .sub-panels-wrapper .sub-panel .asigning-main-container .tcol.select-handler input {
  margin: 0 0 2px 0;
  padding: 0;
}
.sub-panels .sub-panels-wrapper .sub-panel .asigning-main-container .tcol.license_plate {
  max-width: 100px;
  min-width: 100px;
}
.sub-panels .sub-panels-wrapper .sub-panel .asigning-main-container .tcol.brand {
  max-width: unset !important;
  min-width: unset !important;
  flex-grow: 1 !important;
}
.sub-panels .sub-panels-wrapper .sub-panel .asigning-main-container .tcol.brand .highlighted {
  font-weight: 600;
}
.sub-panels .sub-panels-wrapper .sub-panel .asigning-main-container .tcol.year {
  max-width: 50px !important;
  min-width: 50px !important;
}
.sub-panels .sub-panels-wrapper .sub-panel .asigning-main-container .tcol.color {
  max-width: 100px !important;
  min-width: 100px !important;
}
.sub-panels .sub-panels-wrapper .sub-panel .asigning-main-container .ttittle {
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  color: #fff;
}
.sub-panels .sub-panels-wrapper .sub-panel .asigning-main-container .ttittle .asigning-counter {
  color: lime;
  margin-left: 10px;
}
.sub-panels .sub-panels-wrapper .sub-panel .asigning-main-container .tbl .thead .tcol {
  padding: 0 5px !important;
}
.sub-panels .sub-panels-wrapper .sub-panel .asigning-main-container .tbl .tbody .tbody-wrapper {
  overflow: overlay;
}
.sub-panels .sub-panels-wrapper .sub-panel .asigning-main-container .tbl .tbody .trow {
  display: flex;
  align-items: center;
}
.sub-panels .sub-panels-wrapper .sub-panel .asigning-main-container .tbl .tbody .trow .tcol {
  padding: 3px 5px !important;
}
.sub-panels .sub-panels-wrapper .sub-panel .asigning-main-container .tbl .tbody .trow.selected-row {
  background-color: lightskyblue;
}
.sub-panels .sub-panels-wrapper .sub-panel .btn-area {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 5px;
  flex-grow: unset !important;
}
.input-box-container,
.select-box-container {
  margin-bottom: 5px;
  background-color: transparent !important;
}
