.main-container {
  width: 100vw;
  height: 100vh;
  position: relative;
}
:not(output):-moz-ui-invalid:not(:focus) {
  box-shadow: none;
}
:not(output):-moz-ui-invalid:-moz-focusring:not(:focus) {
  box-shadow: none;
}
